<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.yhs0092.csedemo.dataconsistency.shop.account.dao.AccountMapper">

  <resultMap id="accountInfo" type="com.github.yhs0092.csedemo.dataconsistency.shop.common.api.Account">
    <result column="ID" jdbcType="BIGINT" property="id"/>
    <result column="BALANCE" jdbcType="BIGINT" property="balance"/>
  </resultMap>

  <sql id="all_column">
    ID, BALANCE
  </sql>

  <select id="getById" parameterType="java.lang.Long" resultMap="accountInfo">
    select
    <include refid="all_column"/>
    from
    T_ACCOUNT
    where
    ID = #{id}
    <!--for update-->
  </select>

  <update id="update" parameterType="com.github.yhs0092.csedemo.dataconsistency.shop.common.api.Account">
    update
    T_ACCOUNT
    set
    BALANCE = #{balance}
    where
    id = #{id}
  </update>
</mapper>
